/* reset all CSS */
html{color:#000;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{margin:0;padding:0;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
body,button,input,select,textarea{font-size:12px/1.5;}
input,select,textarea{font-size:100%;}
table{border-collapse:collapse;border-spacing:0;}
th{text-align:inherit;}
fieldset,img,a img{border:0;}
iframe{display:block;}
abbr,acronym{border:0;font-variant:normal;}
del{text-decoration:line-through;}
address,caption,cite,code,dfn,em,th,var {font-style:normal;font-weight:500;}
ol,ul {list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:500;}
q:before,q:after {content:'';}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}

.clearfix:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
.clearfix{zoom:1;}
body .hide{display:none;}
.left,.right{display:inline;}
.left{float:left;}
.right{float:right;}


.language-text{
    font-family: monospace;
    word-wrap: break-word;
}

<style type="text/css">
@font-face { 
font-family: 'fontNameRegular'; 
src:url('Qarmic.eot'); 
src:local('fontName Regular'), 
	local('fontName'), 
	url('fontName.woff') format('woff'), /*无此类字体*/
	url('Qarmic.ttf') format('truetype'), 
	url('fontName.svg#fontName') format('svg'); /*无此类字体*/
} 
@font-face { 
font-family: 'fontmirage'; 
src:local('fontName Regular'), 
	local('fontName'), 
	url('fontName.woff') format('woff'), /*无此类字体*/
	url('https://xiongusf.github.io/q.ttf') format('truetype'), 
	url('fontName.svg#fontName') format('svg'); /*无此类字体*/
} 
</style>
<style>
#adsmirage{font-family:'fontmirage';font-size:40px;font-weight:bold;}
#ads{font-family:'fontNameRegular';font-size:40px;font-weight:bold;}
#ads2{font-size:40px;font-weight:bold;}
</style>
