@font-face { 
font-family: 'AAmirage'; 
src:local('fontName Regular'), 
	local('fontName'), 
	url('AA.ttf') format('truetype'), 
	url('fontName.svg#fontName') format('svg'); /*无此类字体*/
} 
@font-face { 
font-family: 'BBmirage'; 
src:local('fontName Regular'), 
	local('fontName'), 
	url('BB.ttf') format('truetype'), 
	url('fontName.svg#fontName') format('svg'); /*无此类字体*/
} 
@font-face { 
font-family: 'CCmirage'; 
src:local('fontName Regular'), 
	local('fontName'), 
	url('CC.ttf') format('truetype'), 
	url('fontName.svg#fontName') format('svg'); /*无此类字体*/
} 
@font-face { 
font-family: 'DDmirage'; 
src:local('fontName Regular'), 
	local('fontName'), 
	url('DD.ttf') format('truetype'), 
	url('fontName.svg#fontName') format('svg'); /*无此类字体*/
} 
@font-face { 
font-family: 'EEmirage'; 
src:local('fontName Regular'), 
	local('fontName'), 
	url('EE.ttf') format('truetype'), 
	url('fontName.svg#fontName') format('svg'); /*无此类字体*/
} 
@font-face { 
font-family: 'FFmirage'; 
src:local('fontName Regular'), 
	local('fontName'), 
	url('FF.ttf') format('truetype'), 
	url('fontName.svg#fontName') format('svg'); /*无此类字体*/
} 
@font-face { 
font-family: 'GGmirage'; 
src:local('fontName Regular'), 
	local('fontName'), 
	url('GG.ttf') format('truetype'), 
	url('fontName.svg#fontName') format('svg'); /*无此类字体*/
} 
@font-face { 
font-family: 'HHmirage'; 
src:local('fontName Regular'), 
	local('fontName'), 
	url('HH.ttf') format('truetype'), 
	url('fontName.svg#fontName') format('svg'); /*无此类字体*/
} 
@font-face { 
font-family: 'IImirage'; 
src:local('fontName Regular'), 
	local('fontName'), 
	url('II.ttf') format('truetype'), 
	url('fontName.svg#fontName') format('svg'); /*无此类字体*/
} 
@font-face { 
font-family: 'JJmirage'; 
src:local('fontName Regular'), 
	local('fontName'), 
	url('JJ.ttf') format('truetype'), 
	url('fontName.svg#fontName') format('svg'); /*无此类字体*/
} 
@font-face { 
font-family: 'KKmirage'; 
src:local('fontName Regular'), 
	local('fontName'), 
	url('KK.ttf') format('truetype'), 
	url('fontName.svg#fontName') format('svg'); /*无此类字体*/
} 
@font-face { 
font-family: 'LLmirage'; 
src:local('fontName Regular'), 
	local('fontName'), 
	url('LL.ttf') format('truetype'), 
	url('fontName.svg#fontName') format('svg'); /*无此类字体*/
} 
@font-face { 
font-family: 'MMmirage'; 
src:local('fontName Regular'), 
	local('fontName'), 
	url('MM.ttf') format('truetype'), 
	url('fontName.svg#fontName') format('svg'); /*无此类字体*/
} 
@font-face { 
font-family: 'NNmirage'; 
src:local('fontName Regular'), 
	local('fontName'), 
	url('NN.ttf') format('truetype'), 
	url('fontName.svg#fontName') format('svg'); /*无此类字体*/
} 
@font-face { 
font-family: 'OOmirage'; 
src:local('fontName Regular'), 
	local('fontName'), 
	url('OO.ttf') format('truetype'), 
	url('fontName.svg#fontName') format('svg'); /*无此类字体*/
} 
@font-face { 
font-family: 'PPmirage'; 
src:local('fontName Regular'), 
	local('fontName'), 
	url('PP.ttf') format('truetype'), 
	url('fontName.svg#fontName') format('svg'); /*无此类字体*/
} 
@font-face { 
font-family: 'QQmirage'; 
src:local('fontName Regular'), 
	local('fontName'), 
	url('QQ.ttf') format('truetype'), 
	url('fontName.svg#fontName') format('svg'); /*无此类字体*/
} 
@font-face { 
font-family: 'RRmirage'; 
src:local('fontName Regular'), 
	local('fontName'), 
	url('RR.ttf') format('truetype'), 
	url('fontName.svg#fontName') format('svg'); /*无此类字体*/
} 
@font-face { 
font-family: 'SSmirage'; 
src:local('fontName Regular'), 
	local('fontName'), 
	url('SS.ttf') format('truetype'), 
	url('fontName.svg#fontName') format('svg'); /*无此类字体*/
} 
@font-face { 
font-family: 'TTmirage'; 
src:local('fontName Regular'), 
	local('fontName'), 
	url('TT.ttf') format('truetype'), 
	url('fontName.svg#fontName') format('svg'); /*无此类字体*/
} 
@font-face { 
font-family: 'UUmirage'; 
src:local('fontName Regular'), 
	local('fontName'), 
	url('UU.ttf') format('truetype'), 
	url('fontName.svg#fontName') format('svg'); /*无此类字体*/
} 
@font-face { 
font-family: 'VVmirage'; 
src:local('fontName Regular'), 
	local('fontName'), 
	url('VV.ttf') format('truetype'), 
	url('fontName.svg#fontName') format('svg'); /*无此类字体*/
} 
@font-face { 
font-family: 'WWmirage'; 
src:local('fontName Regular'), 
	local('fontName'), 
	url('WW.ttf') format('truetype'), 
	url('fontName.svg#fontName') format('svg'); /*无此类字体*/
} 
@font-face { 
font-family: 'XXmirage'; 
src:local('fontName Regular'), 
	local('fontName'), 
	url('XX.ttf') format('truetype'), 
	url('fontName.svg#fontName') format('svg'); /*无此类字体*/
} 
@font-face { 
font-family: 'YYmirage'; 
src:local('fontName Regular'), 
	local('fontName'), 
	url('YY.ttf') format('truetype'), 
	url('fontName.svg#fontName') format('svg'); /*无此类字体*/
} 
@font-face { 
font-family: 'ZZmirage'; 
src:local('fontName Regular'), 
	local('fontName'), 
	url('ZZ.ttf') format('truetype'), 
	url('fontName.svg#fontName') format('svg'); /*无此类字体*/
} 
@font-face { 
font-family: 'amirage'; 
src:local('fontName Regular'), 
	local('fontName'), 
	url('a.ttf') format('truetype'), 
	url('fontName.svg#fontName') format('svg'); /*无此类字体*/
} 
@font-face { 
font-family: 'bmirage'; 
src:local('fontName Regular'), 
	local('fontName'), 
	url('b.ttf') format('truetype'), 
	url('fontName.svg#fontName') format('svg'); /*无此类字体*/
} 
@font-face { 
font-family: 'cmirage'; 
src:local('fontName Regular'), 
	local('fontName'), 
	url('c.ttf') format('truetype'), 
	url('fontName.svg#fontName') format('svg'); /*无此类字体*/
} 
@font-face { 
font-family: 'dmirage'; 
src:local('fontName Regular'), 
	local('fontName'), 
	url('d.ttf') format('truetype'), 
	url('fontName.svg#fontName') format('svg'); /*无此类字体*/
} 
@font-face { 
font-family: 'emirage'; 
src:local('fontName Regular'), 
	local('fontName'), 
	url('e.ttf') format('truetype'), 
	url('fontName.svg#fontName') format('svg'); /*无此类字体*/
} 
@font-face { 
font-family: 'fmirage'; 
src:local('fontName Regular'), 
	local('fontName'), 
	url('f.ttf') format('truetype'), 
	url('fontName.svg#fontName') format('svg'); /*无此类字体*/
} 
@font-face { 
font-family: 'gmirage'; 
src:local('fontName Regular'), 
	local('fontName'), 
	url('g.ttf') format('truetype'), 
	url('fontName.svg#fontName') format('svg'); /*无此类字体*/
} 
@font-face { 
font-family: 'hmirage'; 
src:local('fontName Regular'), 
	local('fontName'), 
	url('h.ttf') format('truetype'), 
	url('fontName.svg#fontName') format('svg'); /*无此类字体*/
} 
@font-face { 
font-family: 'imirage'; 
src:local('fontName Regular'), 
	local('fontName'), 
	url('i.ttf') format('truetype'), 
	url('fontName.svg#fontName') format('svg'); /*无此类字体*/
} 
@font-face { 
font-family: 'jmirage'; 
src:local('fontName Regular'), 
	local('fontName'), 
	url('j.ttf') format('truetype'), 
	url('fontName.svg#fontName') format('svg'); /*无此类字体*/
} 
@font-face { 
font-family: 'kmirage'; 
src:local('fontName Regular'), 
	local('fontName'), 
	url('k.ttf') format('truetype'), 
	url('fontName.svg#fontName') format('svg'); /*无此类字体*/
} 
@font-face { 
font-family: 'lmirage'; 
src:local('fontName Regular'), 
	local('fontName'), 
	url('l.ttf') format('truetype'), 
	url('fontName.svg#fontName') format('svg'); /*无此类字体*/
} 
@font-face { 
font-family: 'mmirage'; 
src:local('fontName Regular'), 
	local('fontName'), 
	url('m.ttf') format('truetype'), 
	url('fontName.svg#fontName') format('svg'); /*无此类字体*/
} 
@font-face { 
font-family: 'nmirage'; 
src:local('fontName Regular'), 
	local('fontName'), 
	url('n.ttf') format('truetype'), 
	url('fontName.svg#fontName') format('svg'); /*无此类字体*/
} 
@font-face { 
font-family: 'omirage'; 
src:local('fontName Regular'), 
	local('fontName'), 
	url('o.ttf') format('truetype'), 
	url('fontName.svg#fontName') format('svg'); /*无此类字体*/
} 
@font-face { 
font-family: 'pmirage'; 
src:local('fontName Regular'), 
	local('fontName'), 
	url('p.ttf') format('truetype'), 
	url('fontName.svg#fontName') format('svg'); /*无此类字体*/
} 
@font-face { 
font-family: 'qmirage'; 
src:local('fontName Regular'), 
	local('fontName'), 
	url('q.ttf') format('truetype'), 
	url('fontName.svg#fontName') format('svg'); /*无此类字体*/
} 
@font-face { 
font-family: 'rmirage'; 
src:local('fontName Regular'), 
	local('fontName'), 
	url('r.ttf') format('truetype'), 
	url('fontName.svg#fontName') format('svg'); /*无此类字体*/
} 
@font-face { 
font-family: 'smirage'; 
src:local('fontName Regular'), 
	local('fontName'), 
	url('s.ttf') format('truetype'), 
	url('fontName.svg#fontName') format('svg'); /*无此类字体*/
} 
@font-face { 
font-family: 'tmirage'; 
src:local('fontName Regular'), 
	local('fontName'), 
	url('t.ttf') format('truetype'), 
	url('fontName.svg#fontName') format('svg'); /*无此类字体*/
} 
@font-face { 
font-family: 'umirage'; 
src:local('fontName Regular'), 
	local('fontName'), 
	url('u.ttf') format('truetype'), 
	url('fontName.svg#fontName') format('svg'); /*无此类字体*/
} 
@font-face { 
font-family: 'vmirage'; 
src:local('fontName Regular'), 
	local('fontName'), 
	url('v.ttf') format('truetype'), 
	url('fontName.svg#fontName') format('svg'); /*无此类字体*/
} 
@font-face { 
font-family: 'wmirage'; 
src:local('fontName Regular'), 
	local('fontName'), 
	url('w.ttf') format('truetype'), 
	url('fontName.svg#fontName') format('svg'); /*无此类字体*/
} 
@font-face { 
font-family: 'xmirage'; 
src:local('fontName Regular'), 
	local('fontName'), 
	url('x.ttf') format('truetype'), 
	url('fontName.svg#fontName') format('svg'); /*无此类字体*/
} 
@font-face { 
font-family: 'ymirage'; 
src:local('fontName Regular'), 
	local('fontName'), 
	url('y.ttf') format('truetype'), 
	url('fontName.svg#fontName') format('svg'); /*无此类字体*/
} 
@font-face { 
font-family: 'zmirage'; 
src:local('fontName Regular'), 
	local('fontName'), 
	url('z.ttf') format('truetype'), 
	url('fontName.svg#fontName') format('svg'); /*无此类字体*/
} 

@font-face { 
font-family: 'emptymirage'; 
src:local('fontName Regular'), 
	local('fontName'), 
	url('empty.ttf') format('truetype'), 
	url('fontName.svg#fontName') format('svg'); /*无此类字体*/
} 
#emptymirage{font-family:'emptymirage';font-size:10px;font-weight:bold;}

#AAmirage{font-family:'AAmirage';}
#BBmirage{font-family:'BBmirage';}
#CCmirage{font-family:'CCmirage';}
#DDmirage{font-family:'DDmirage';}
#EEmirage{font-family:'EEmirage';}
#FFmirage{font-family:'FFmirage';}
#GGmirage{font-family:'GGmirage';}
#HHmirage{font-family:'HHmirage';}
#IImirage{font-family:'IImirage';}
#JJmirage{font-family:'JJmirage';}
#KKmirage{font-family:'KKmirage';}
#LLmirage{font-family:'LLmirage';}
#MMmirage{font-family:'MMmirage';}
#NNmirage{font-family:'NNmirage';}
#OOmirage{font-family:'OOmirage';}
#PPmirage{font-family:'PPmirage';}
#QQmirage{font-family:'QQmirage';}
#RRmirage{font-family:'RRmirage';}
#SSmirage{font-family:'SSmirage';}
#TTmirage{font-family:'TTmirage';}
#UUmirage{font-family:'UUmirage';}
#VVmirage{font-family:'VVmirage';}
#WWmirage{font-family:'WWmirage';}
#XXmirage{font-family:'XXmirage';}
#YYmirage{font-family:'YYmirage';}
#ZZmirage{font-family:'ZZmirage';}
#amirage{font-family:'amirage';}
#bmirage{font-family:'bmirage';}
#cmirage{font-family:'cmirage';}
#dmirage{font-family:'dmirage';}
#emirage{font-family:'emirage';}
#fmirage{font-family:'fmirage';}
#gmirage{font-family:'gmirage';}
#hmirage{font-family:'hmirage';}
#imirage{font-family:'imirage';}
#jmirage{font-family:'jmirage';}
#kmirage{font-family:'kmirage';}
#lmirage{font-family:'lmirage';}
#mmirage{font-family:'mmirage';}
#nmirage{font-family:'nmirage';}
#omirage{font-family:'omirage';}
#pmirage{font-family:'pmirage';}
#qmirage{font-family:'qmirage';}
#rmirage{font-family:'rmirage';}
#smirage{font-family:'smirage';}
#tmirage{font-family:'tmirage';}
#umirage{font-family:'umirage';}
#vmirage{font-family:'vmirage';}
#wmirage{font-family:'wmirage';}
#xmirage{font-family:'xmirage';}
#ymirage{font-family:'ymirage';}
#zmirage{font-family:'zmirage';}
