@font-face { 
font-family: 'AAmirage'; 
src: url('AA.ttf') format('truetype');
} 
@font-face { 
font-family: 'BBmirage'; 
src: url('BB.ttf') format('truetype');
} 
@font-face { 
font-family: 'CCmirage'; 
src: url('CC.ttf') format('truetype');
} 
@font-face { 
font-family: 'DDmirage'; 
src: url('DD.ttf') format('truetype');
} 
@font-face { 
font-family: 'EEmirage'; 
src: url('EE.ttf') format('truetype');
} 
@font-face { 
font-family: 'FFmirage'; 
src: url('FF.ttf') format('truetype');
} 
@font-face { 
font-family: 'GGmirage'; 
src: url('GG.ttf') format('truetype');
} 
@font-face { 
font-family: 'HHmirage'; 
src: url('HH.ttf') format('truetype');
} 
@font-face { 
font-family: 'IImirage'; 
src: url('II.ttf') format('truetype');
} 
@font-face { 
font-family: 'JJmirage'; 
src: url('JJ.ttf') format('truetype');
} 
@font-face { 
font-family: 'KKmirage'; 
src: url('KK.ttf') format('truetype');
} 
@font-face { 
font-family: 'LLmirage'; 
src: url('LL.ttf') format('truetype');
} 
@font-face { 
font-family: 'MMmirage'; 
src: url('MM.ttf') format('truetype');
} 
@font-face { 
font-family: 'NNmirage'; 
src: url('NN.ttf') format('truetype');
} 
@font-face { 
font-family: 'OOmirage'; 
src: url('OO.ttf') format('truetype');
} 
@font-face { 
font-family: 'PPmirage'; 
src: url('PP.ttf') format('truetype');
} 
@font-face { 
font-family: 'QQmirage'; 
src: url('QQ.ttf') format('truetype');
} 
@font-face { 
font-family: 'RRmirage'; 
src: url('RR.ttf') format('truetype');
} 
@font-face { 
font-family: 'SSmirage'; 
src: url('SS.ttf') format('truetype');
} 
@font-face { 
font-family: 'TTmirage'; 
src: url('TT.ttf') format('truetype');
} 
@font-face { 
font-family: 'UUmirage'; 
src: url('UU.ttf') format('truetype');
} 
@font-face { 
font-family: 'VVmirage'; 
src: url('VV.ttf') format('truetype');
} 
@font-face { 
font-family: 'WWmirage'; 
src: url('WW.ttf') format('truetype');
} 
@font-face { 
font-family: 'XXmirage'; 
src: url('XX.ttf') format('truetype');
} 
@font-face { 
font-family: 'YYmirage'; 
src: url('YY.ttf') format('truetype');
} 
@font-face { 
font-family: 'ZZmirage'; 
src: url('ZZ.ttf') format('truetype');
} 
@font-face { 
font-family: 'amirage'; 
src: url('a.ttf') format('truetype');
} 
@font-face { 
font-family: 'bmirage'; 
src: url('b.ttf') format('truetype');
} 
@font-face { 
font-family: 'cmirage'; 
src: url('c.ttf') format('truetype');
} 
@font-face { 
font-family: 'dmirage'; 
src: url('d.ttf') format('truetype');
} 
@font-face { 
font-family: 'emirage'; 
src: url('e.ttf') format('truetype');
} 
@font-face { 
font-family: 'fmirage'; 
src: url('f.ttf') format('truetype');
} 
@font-face { 
font-family: 'gmirage'; 
src: url('g.ttf') format('truetype');
} 
@font-face { 
font-family: 'hmirage'; 
src: url('h.ttf') format('truetype');
} 
@font-face { 
font-family: 'imirage'; 
src: url('i.ttf') format('truetype');
} 
@font-face { 
font-family: 'jmirage'; 
src: url('j.ttf') format('truetype');
} 
@font-face { 
font-family: 'kmirage'; 
src: url('k.ttf') format('truetype');
} 
@font-face { 
font-family: 'lmirage'; 
src: url('l.ttf') format('truetype');
} 
@font-face { 
font-family: 'mmirage'; 
src: url('m.ttf') format('truetype');
} 
@font-face { 
font-family: 'nmirage'; 
src: url('n.ttf') format('truetype');
} 
@font-face { 
font-family: 'omirage'; 
src: url('o.ttf') format('truetype');
} 
@font-face { 
font-family: 'pmirage'; 
src: url('p.ttf') format('truetype');
} 
@font-face { 
font-family: 'qmirage'; 
src: url('q.ttf') format('truetype');
} 
@font-face { 
font-family: 'rmirage'; 
src: url('r.ttf') format('truetype');
} 
@font-face { 
font-family: 'smirage'; 
src: url('s.ttf') format('truetype');
} 
@font-face { 
font-family: 'tmirage'; 
src: url('t.ttf') format('truetype');
} 
@font-face { 
font-family: 'umirage'; 
src: url('u.ttf') format('truetype');
} 
@font-face { 
font-family: 'vmirage'; 
src: url('v.ttf') format('truetype');
} 
@font-face { 
font-family: 'wmirage'; 
src: url('w.ttf') format('truetype');
} 
@font-face { 
font-family: 'xmirage'; 
src: url('x.ttf') format('truetype');
} 
@font-face { 
font-family: 'ymirage'; 
src: url('y.ttf') format('truetype');
} 
@font-face { 
font-family: 'zmirage'; 
src: url('z.ttf') format('truetype');
} 

@font-face { 
font-family: 'emptymirage'; 
src: url('empty.ttf') format('truetype');
} 
#emptymirage{font-family:'emptymirage';font-size: 8px;font-weight:bold;}

#AAmirage{font-family:'AAmirage';}
#BBmirage{font-family:'BBmirage';}
#CCmirage{font-family:'CCmirage';}
#DDmirage{font-family:'DDmirage';}
#EEmirage{font-family:'EEmirage';}
#FFmirage{font-family:'FFmirage';}
#GGmirage{font-family:'GGmirage';}
#HHmirage{font-family:'HHmirage';}
#IImirage{font-family:'IImirage';}
#JJmirage{font-family:'JJmirage';}
#KKmirage{font-family:'KKmirage';}
#LLmirage{font-family:'LLmirage';}
#MMmirage{font-family:'MMmirage';}
#NNmirage{font-family:'NNmirage';}
#OOmirage{font-family:'OOmirage';}
#PPmirage{font-family:'PPmirage';}
#QQmirage{font-family:'QQmirage';}
#RRmirage{font-family:'RRmirage';}
#SSmirage{font-family:'SSmirage';}
#TTmirage{font-family:'TTmirage';}
#UUmirage{font-family:'UUmirage';}
#VVmirage{font-family:'VVmirage';}
#WWmirage{font-family:'WWmirage';}
#XXmirage{font-family:'XXmirage';}
#YYmirage{font-family:'YYmirage';}
#ZZmirage{font-family:'ZZmirage';}
#amirage{font-family:'amirage';}
#bmirage{font-family:'bmirage';}
#cmirage{font-family:'cmirage';}
#dmirage{font-family:'dmirage';}
#emirage{font-family:'emirage';}
#fmirage{font-family:'fmirage';}
#gmirage{font-family:'gmirage';}
#hmirage{font-family:'hmirage';}
#imirage{font-family:'imirage';}
#jmirage{font-family:'jmirage';}
#kmirage{font-family:'kmirage';}
#lmirage{font-family:'lmirage';}
#mmirage{font-family:'mmirage';}
#nmirage{font-family:'nmirage';}
#omirage{font-family:'omirage';}
#pmirage{font-family:'pmirage';}
#qmirage{font-family:'qmirage';}
#rmirage{font-family:'rmirage';}
#smirage{font-family:'smirage';}
#tmirage{font-family:'tmirage';}
#umirage{font-family:'umirage';}
#vmirage{font-family:'vmirage';}
#wmirage{font-family:'wmirage';}
#xmirage{font-family:'xmirage';}
#ymirage{font-family:'ymirage';}
#zmirage{font-family:'zmirage';}
<style>
      /* loading */
      .loading {
        background: #000;
        position: absolute;
        z-index: 999;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
      }
      .progress {
        position: relative;
        width: 200px;
        height: 8px;
        background: #fff;
        border-radius: 20px;
        margin-top: 20px;
      }
      .progress-bar {
        position: absolute;
        left: 0;
        top: 0;
        height: 8px;
        line-height: 20px;
        border-radius: 20px;
        background: #d7bb29;
        animation: animate-positive 3s;
      }
      @keyframes animate-positive {
        from {width:0px;}
        to {width:85%;}
      }
      @-webkit-keyframes animate-positive {
        from {width:0px;}
        to {width:85%;}
      }
 
    </style>
